# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Xcode / Swift Package Manager
.build/
build/
Packages/
xcuserdata/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Artifacts & temp files
*.swp
*~
